@import "./colores.css";


.component-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header-content{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 60px);
  background: linear-gradient(90deg, black, rgba(14,53,84, 0.8));
  padding-bottom: 40px;
  position: relative;
}

.content--text-about {
  width: 80%;   /*  width: 70%; para 1080px  */
  padding: 40px;
  padding-top: 30px; /*  padding-top: 70px; para 1080px  */
  border-radius: 20px;
  font-family: var(--montserrat-font-family);
  background-color: rgba(2, 2, 2, 0.45);    /* rgba(2, 2, 2, 0.322); para 1080px  */
  text-align: left;
  left: 8%;   /*  left: 5%;  para 1080px  */
  position: relative;
  z-index: 1;
  animation: zoom 5s infinite; 
}

.about_header-content--text {
  margin-top: 30px;
  font-family: var(--montserrat-font-family);
  font-style: normal;
  font-size: 1.3rem;  /*  line-height: 1.8;  para 1080px  */
  text-align: justify;
  color: var(--White);
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1); 
  }
}



.image--about{
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: transparent;
  height: 100%;
}

.my_img--about{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  clip-path: polygon(34% 0, 100% 0%, 100% 100%, 0 100%);
}

.particle-container *:not(canvas) {
  background-color: transparent;
}

.global-delivery {
  display: flex;
  max-width: 1300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 70px 20px 70px;
  column-gap: 2rem;
}


.about-header .background-mask img {
  max-width: 100%;
  width: auto;
  height: auto;
}



/*===============
2. ALINEAMIENTO
================*/
.about-header-controls {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.about-header-controls-blurb {
  margin-bottom: 0;
}
.about-header-container {
  position: relative;
  padding: 0 30px;
}

.about-header-controls svg {
  fill: var(--Black);
  transform: rotate(-90deg);
}
.about-header--collapsed {
  height: auto;
}
.about-header .background-mask {
  text-align: center;
  padding: 0 50px;
}



/*===============
3. Titulo
================*/
.main-padding-large {
  margin: 0 10vw;
}

.main-padding-medium {
  margin: 0 7.5vw;
}

.main-padding-small {
  margin: 0 5vw;
}



.strategic-positions-accordion.transparent-accordion.main-padding-large {
  margin: 0;
}


.about-header-content {
  text-align: center;
}

.about-header-controls-blurb--span{
  font-family: var(--font-makina);
    font-weight: bolder;
    color:var(--LogoBackground)
}

 .quote-small {
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: var(--font-makina);
    font-weight: bolder;
    font-size: 1.575rem;
    line-height: 3.75rem;
    margin-bottom: calc((1rem - 2.375rem) + 1rem* 2);
    letter-spacing: .2px;
    text-rendering: optimizeSpeed;
} 

/*===============
4. Vision Mision
    slide-hero
================*/
.slide-hero {
  padding: 40px 0;
  width: 80vw;
}
.card_mision, .card_vision{
  margin-bottom: 1rem;
  height: 430px;
  width: 500px;

}



.slide-hero-header {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: 40px 70px 40px 70px ;
}
.slide-hero-header-eyebrow {
  display: flex;
  color: var(--LogoBackground) !important;
  margin: 2vh 0;
  font-family: var(--font-makina);
  font-weight: bolder;
  justify-content: center;
}

.slide-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mision-card-wrapper {
  margin-bottom: 50px; /* Espacio entre MisionCard y VisionCard */
}

.background .fade {
  background: rgba(0, 0, 0, 0.6);
}


.main * {
  font-variant-ligatures: no-common-ligatures !important;
}

* {
  box-sizing: border-box;
  font-family: var(--montserrat-font-family), serif;
  font-variant-ligatures: no-common-ligatures;
}




/* ======== Partners ======== */

.ourpartners{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.logo-garden + .logo-garden {
  border-top: solid 1px #58595b;
}

.logo-garden-gallery {
  max-width: 1200px;
  margin: 0 auto;
  
}

.logo-garden-gallery.main {
  padding-top: 0;
  padding: 15px 0;
}

.logo-garden-gallery-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1250px;
}

.logo-garden-gallery-row-card {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  display: block;
}



.logo-garden-gallery-row-card .hover-svg {
  display: none;
}

.logo-garden-gallery-row-card:hover svg:first-child,
.logo-garden-gallery-row-card:hover img:first-child {
  display: none;
}

.logo-garden-gallery-row-card:hover svg:last-child,
.logo-garden-gallery-row-card:hover img:last-child {
  display: inline-block;
}

.logo-garden--is-dark .logo-garden-gallery-row-card svg {
  fill: #58595b;
}

.logo-garden--is-dark .logo-garden-gallery-row-card svg:hover {
  fill: #fff;
}

.logo-garden-gallery-row-card img {
  width: 150px;
  height: auto;
}


.logo-garden-gallery-controllers {
  display: none;
}

.logo-garden-gallery hr {
  border: 0;
  border-top: 1px solid #58595b;
  height: 1px;
  width: 95%;
  margin: 15px auto;
}


 /*Pantallas grandes (desktops de menos de 1200px)*/

 @media screen and (max-width: 1199.98px) {


}



 /*Pantallas medianas (tablets de menos de 992px) */
 
 @media screen and  (max-width: 991.98px) {  }
 
 
 
 /*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
 
 @media screen and  (max-width: 767.98px) { 
    .about-header-content{
      align-items: flex-start;
    }

    .content--text-about {
      margin-top: 20px;
    }

    .about_header-content--text {
      font-size: 1rem;
    }
    
    .image--about{
      display: none;
    }

    .slide-hero-content{
      width: 100%;
    }
    
    .logo-garden-gallery-row{
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      gap: 5px;
    }
    .logo-garden-gallery-row-card img{
      width: 100px;
      margin-bottom: 5px;
    }
     
    .global-delivery {
      flex-direction: column;
      padding: 20px 30px 20px 30px;
      margin: 0px;
    }
    
      
    .card_mision, .card_vision{
     
      height: 450px;
      width: 300px;
    
    }

  }
 
 
 
 /*Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
 
 @media screen and (max-width: 575.98px) {  }