@import "./colores.css";
.about_header-content--text {
  margin-top: 50px;
  font-family: var(--montserrat-font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  
}
.about-header-content{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, black, #061826);
  
}

.content--text-about {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    font-size: 1.8rem;
    font-family: var(--montserrat-font-family);
    color: var(--White);
    background-color: rgba(2, 2, 2, 0.322);
    left: 5%;
    position: absolute;
    z-index: 1;
    animation: zoom 5s infinite; 
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1); 
  }
}

.tittle--aboutUs{
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: var(--font-makina);
  background: -webkit-linear-gradient(0deg, var(--White), var(--LogoBackground));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.image--about{
  width: 50%;
  height: 99vh;
  background-color: #fff;
  clip-path: polygon(34% 0, 100% 0%, 100% 100%, 0 100%);
}

.my_img--about{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.particle-container *:not(canvas) {
  background-color: transparent;
  /*z-index: 2;*/
}

@media (max-width: 1219px) {
  .about_header-content--text {
    margin: 6rem 0 ;
  }
}
.about-header .background-mask img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (max-width: 479px) {
  .about-header .background-mask {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .about-header-content {
    padding-left: 24px;
    padding-right: 24px;
  }

  .component-wrapper.top > .background > .background-wrapper.fill-background {
    opacity: 60%;
  }
}

@media (max-width: 767px) {
  .background-container .award-slide {
    margin-top: 15vh;
  }
  
  .about_header-content--text {
    margin-top: 20px;}

  .image--about{
  
   display: none;
  }

 

  .about-header-content{
    height: auto;
  }

  .content--text-about{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.2rem;
    left: 0;
    position: relative;
    z-index: 0;
  }

}

/*===============
2. ALINEAMIENTO
================*/
.about-header-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.about-header-controls-blurb {
  margin-bottom: 0;
}
.about-header-container {
  position: relative;
  /*z-index: 1;*/
  padding: 0 30px;
}

.about-header-controls svg {
  fill: #b79967;
  transform: rotate(-90deg);
}
.about-header--collapsed {
  height: auto;
}
.about-header .background-mask {
  text-align: center;
  /*z-index: inherit;*/
  padding: 0 50px;
}

@media (max-width: 1219px) {
  .about-header-controls svg {
    width: 3rem;
  }
}

/*===============
3. Titulo
================*/
.main-padding-large {
  margin: 0 10vw;
}

.main-padding-medium {
  margin: 0 7.5vw;
}

.main-padding-small {
  margin: 0 5vw;
}

@media (min-width: 1024px) {
  .related .strategic-card-grid-carousel-wrapper.main-padding-large {
    margin: 0 auto;
    max-width: 1400px;
  }
  .strategic-positions-container.rte.main-padding-large {
    margin: 0;
  }
  .strategic-positions-container.rte.main-padding-large {
    margin: 0;
  }
  .strategic-positions-container.rte.main-padding-large
    .strategic-card-grid-wrapper {
    justify-content: center;
  }
  .strategic-positions-container.rte.main-padding-large
    .strategic-card-grid-wrapper {
    justify-content: center;
  }
}

.strategic-positions-accordion.transparent-accordion.main-padding-large {
  margin: 0;
}


.about-header-content {
  text-align: center;
  /*max-width: 30em;*/
}

 .quote-small {
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 600;
    font-style: italic;
    font-size: 1.575rem;
    line-height: 3.75rem;
    margin-bottom: calc((1rem - 2.375rem) + 1rem* 2);
    letter-spacing: .2px;
    text-rendering: optimizeSpeed;
} 

/*===============
4. Vision Mision
    slide-hero
================*/
.slide-hero {
  padding: 40px 0;
  width: 80vw;
}
.card_mision{
  margin-bottom: 1rem;
}

.card_vision{
  margin-bottom: 1rem;
}

.slide-hero-header {
  margin-bottom: 25px;
}
.slide-hero-header-eyebrow {
  display: flex;
  color: #b79967 !important;
  margin: 2vh 0;
  font-weight: bolder;
  justify-content: center;
}

.slide-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*.slide-hero-content .rte {*/
/*    z-index: 1;*/
/*}*/

.slide-hero-content.left {
  justify-content: left;
}

.slide-hero-content .icon-grid {
  margin: 0;
}

.slide-hero-content .button {
  width: 100%;
}

@media (min-width: 1024px) {
  .slide-hero-content .button {
    width: auto;
  }

  .global-delivery .slide-hero-header {
    margin-top: unset;
  }
}
.global-delivery .slide-hero-header {
  margin-top: 45%;
}
.global-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  column-gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mision-card-wrapper {
  margin-bottom: 50px; /* Espacio entre MisionCard y VisionCard */
}

.global-delivery-background {
  /*z-index: 1;*/
  position: absolute;
  width: 90vw;
  top: 0;
  left: 5vw;
}
.global-delivery-modal {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .global-delivery {
    display: flex;
    flex-direction: row;
    min-height: auto;
  }
  .global-delivery-background {
    display: block;
    top: 21vh;
    left: 50vw;
    width: 50vw;
  }
  .component-wrapper.top > .background {
    margin-top: -100px;
    padding-top: 100px;
  }
}

.background .fade {
  background: rgba(0, 0, 0, 0.6);
}

.component-wrapper.top > .background {
  margin-top: -80px;
  padding-top: 80px;
}
.about_header--parrafo {
  font-family: var(--montserrat-font-family);
  font-size: large;
  font-style: normal;
  line-height: 2.5;
}


.heading-three {
  display: flex;
  justify-content: center;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-family: "Lato";
  font-size: 2.5rem;
  line-height: 4.125rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
  font-family: var(--font-makina);
  text-transform: uppercase;
}


.heading-four {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-family: "Lato";
  font-size: 2.375rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}


.main * {
  font-variant-ligatures: no-common-ligatures !important;
}

* {
  box-sizing: border-box;
  font-family: Lato, serif;
  font-variant-ligatures: no-common-ligatures;
}

/* ======== Partners ======== */
@media (min-width: 1024px) {
  .logo-garden {
    margin-bottom: 2.5rem;
  }
}

.logo-garden + .logo-garden {
  border-top: solid 1px #58595b;
}

.logo-garden-gallery {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-garden-gallery.main {
  padding-top: 0;
  padding: 15px 0;
}

.logo-garden-gallery-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logo-garden-gallery-row-card {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 1250px;
  display: block;
}

@media (max-width: 1024px) {
  .logo-garden-gallery-row-card {
    margin: 0 auto;
    width: auto;
    max-width: 250px;
  }
}

.logo-garden-gallery-row-card .hover-svg {
  display: none;
}

.logo-garden-gallery-row-card:hover svg:first-child,
.logo-garden-gallery-row-card:hover img:first-child {
  display: none;
}

.logo-garden-gallery-row-card:hover svg:last-child,
.logo-garden-gallery-row-card:hover img:last-child {
  display: inline-block;
}

.logo-garden--is-dark .logo-garden-gallery-row-card svg {
  fill: #58595b;
}

.logo-garden--is-dark .logo-garden-gallery-row-card svg:hover {
  fill: #fff;
}

.logo-garden-gallery-row-card img {
  width: 150px;
  height: auto;
}


.logo-garden-gallery-controllers {
  display: none;
}

.logo-garden-gallery hr {
  border: 0;
  border-top: 1px solid #58595b;
  height: 1px;
  width: 95%;
  margin: 15px auto;
}

@media (max-width: 1024px) {
  .logo-garden-gallery {
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    width: auto;
    margin-bottom: 28px;
    width: 100%;
    height: fit-content;
  }
  .logo-garden-gallery-row-card img {
    width: 120px;
  }
  .logo-garden-gallery hr {
    display: none;
  }

  .logo-garden-gallery-scroller.smooth {
    transition: all 0.5s ease-out;
  }

  .logo-garden-gallery-scroller .logo-garden-gallery-row {
    margin-right: -4px;
    display: inline-block;
    height: auto;
    margin: 0;
    vertical-align: top;
    width: 50%;
    align-items: unset;
    justify-content: unset;
  }

  .logo-garden-gallery-controllers {
    display: block;
    width: 100%;
    text-align: center;
  }

  .logo-garden-gallery-controllers button {
    cursor: pointer;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 10px 5px;
    background: var(--White);
    padding: 0;
  }

  .logo-garden-gallery-controllers button.active {
    background: #cc1f20;
  }
}
