
/* Ajuste responsivo para dos filas */
/* @media (max-width: 1200px) {
  .card-grid-allservices  {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-grid--allservices{
    grid-template-columns: repeat(1, 1fr);
  }

  .image-gridsec--allservices {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .initial_paragraph-services{
    margin: 20px;
  }
  .card-grid-allservices  {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-allservices{
    width: 100%;
  }
} */
  
