@import './colores.css';

.container-text--allservices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 100px;
}

.initial-tittle{
  margin-top: 20px;
}

.initial_paragraph-services{
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  text-align: justify;
}

.container-cards-services{
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}


/* CardGrid.css */
.card-grid-allservices {

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Distribuye las cards en 6 columnas */
  padding: 10px;
}

.card-allservices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 360px;
  height: 100px;
  color: var(--Black);
  border-radius: 8px;
  margin: 1px;
  padding: 8px;
}

.card-icon-services {
  font-size: 40px;
}

.card-title-services {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}

/*items redondos*/
.container_items--allservices{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Black);
  width: 100%;
  height: auto;
}

.image-grid--allservices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.image-gridsec--allservices{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  width: 70%;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: center;

}

.text_item--{
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: center;

}

.image-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.tittle_all--items{
  font-family: var(--font-makina);
  font-size: 1.5rem;
  color: var(--White);
  text-align: center;
}

.paragraph_all--items{
  font-family: var(--montserrat-font-family);
  font-size: .9rem;
  color: var(--White);
  text-align: justify;
}


.list-services{
  align-self: self-start;
  margin: 10px;
  text-align: left;
  color: var(--White);
  font-family: var(--montserrat-font-family);
}
/* Ajuste responsivo para dos filas */
@media (max-width: 1200px) {
  .card-grid-allservices  {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-grid--allservices{
    grid-template-columns: repeat(1, 1fr);
  }

  .image-gridsec--allservices {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .initial_paragraph-services{
    margin: 20px;
  }
  .card-grid-allservices  {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-allservices{
    width: 100%;
  }
}
  
