@import "./colores.css";

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 405px;
  margin: 20px;
  /* padding: 0 20px; */
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 1000ms;
  width: 300px;
}

.tittle {
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  text-align: center; 
  color: var(--Black); 
  padding: 10px;
  
}

.container_box--imag {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

.icon_chevron {
  margin-top: 5rem;
}

.image_box {
  /* margin-top: 10px; */
  max-width: 100%;
  position: relative;
  height: auto;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0%, 100% 62%, 50% 100%, 0 62%);
}

.text_content--title {
  font-family: var(--montserrat-font-family);
  margin-top: 10px;
  height: 68px;
  align-content: center;
}

.text_content--text{
  font-family: var(--montserrat-font-family);
  text-align: justify;
  font-size: 1rem;
}



.card.expanded {
  height: 590px;
}

.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}

.card.expanded .label {
  transform: translateY(0);
}

.text1,
.text2,
.text-content {
  visibility: hidden; 
  transition: visibility 0.3s ease, clip-path 1000ms;
}

.card.expanded .text1,
.card.expanded .text2,
.card.expanded .text-content {
  visibility: visible;
}

.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
}

.card.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.text2 {
  clip-path: polygon(
    0% 100%,
    0% -80%,
    15% -70%,
    17.23% -53.59%,
    23% -40%,
    27.23% -28.94%,
    35% -20%,
    41.09% -13.59%,
    50% -10%,
    58.91% -13.23%,
    65% -20%,
    72.77% -28.23%,
    77% -40%,
    82.77% -54.65%,
    85% -70%,
    100% -80%,
    100% 100%
  );
  -webkit-clip-path: polygon(
    0% 100%,
    0% -80%,
    15% -70%,
    17.23% -53.59%,
    23% -40%,
    27.23% -28.94%,
    35% -20%,
    41.09% -13.59%,
    50% -10%,
    58.91% -13.23%,
    65% -20%,
    72.77% -28.23%,
    77% -40%,
    82.77% -54.65%,
    85% -70%,
    100% -80%,
    100% 100%
  );
  transition: clip-path 1000ms;
}

.card.expanded .text2 {
  clip-path: polygon(
    0% 100%,
    0% -90%,
    15% -80%,
    17.23% -63.59%,
    23% -50%,
    27.23% -38.94%,
    35% -30%,
    41.09% -23.59%,
    50% -20%,
    58.91% -23.23%,
    65% -30%,
    72.77% -38.23%,
    77% -50%,
    82.77% -64.65%,
    85% -80%,
    100% -90%,
    100% 100%
  );
  -webkit-clip-path: polygon(
    0% 100%,
    0% -90%,
    15% -80%,
    17.23% -63.59%,
    23% -50%,
    27.23% -38.94%,
    35% -30%,
    41.09% -23.59%,
    50% -20%,
    58.91% -23.23%,
    65% -30%,
    72.77% -38.23%,
    77% -50%,
    82.77% -64.65%,
    85% -80%,
    100% -90%,
    100% 100%
  );
}

.text-content {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-160px);
  transition: transform 1000ms;
}

.card.expanded .text-content {
  transform: translateY(-15px);
}

.chevron {
  position: relative;
  bottom: 20px;
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card.expanded .chevron {
  transform: rotate(0deg);
}

.title {
  font-family: var(--montserrat-font-family), sans-serif;
  margin: 20px 0 12px;
}

.body-text {
  font-family: var(--montserrat-font-family);
  padding: 0 20px;
}


 /*Pantallas grandes (desktops de menos de 1200px)*/

 @media screen and (max-width: 1199.98px) {  }



 /*Pantallas medianas (tablets de menos de 992px) */
 
 @media screen and  (max-width: 991.98px) {  }
 
 
 
 /*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
 
 @media screen and  (max-width: 767.98px) { 
 
    .card{
      
      height: 360px;
      width: 250px;
    }

    .card.expanded {
      height: 600px;
    }
     
  }
 
 
 
 /*Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
 
 @media screen and (max-width: 575.98px) {  }