 .carousel_img{
    height:auto;
    filter: brightness(50%);
    border-radius: 15px;
} 
/* carrousel.css */

/* Ajusta el tamaño máximo del carrusel */
.container_carrousel {
  max-width: 1800px;
  margin: 0 auto;
}

/* Asegúrate de que las imágenes se adapten sin distorsionarse */
.carousel-item img {
  /* width: 100%; */
  height: auto;
  object-fit: cover;
}

/* Opcional: ajustar la altura del carrusel */
/* .carousel-inner {
      height: 500px;
  } */

/* Opcional: ajustar la altura de las imágenes del carrusel */
.carousel-item img {
  /* height: 100%; */
  object-fit: cover;
}

/* .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
@media (min-width: 1024px) {
  .carousel_img {
    border-radius: 15px;
  }
}
