@import './colores.css';
.carousel_img {
  height: auto;
  filter: brightness(45%);
}
/* carrousel.css */
.container_carrousel {
  max-width: 100vw;
  height: calc(100vh - 60px);
  margin: 0 auto;
}
.title_carousel--slice{
  font-family: var( --font-makina);
  font-size: 1.8rem;
}
.text_carousel{
font-family: var(--montserrat-font-family);
font-size: 1.2rem;
}
.carousel-item img {
  height: calc(100vh - 60px);
  object-fit: cover;
}
.carousel-item img {
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 1.25rem;
  }
}

