/* styles.css */
.slider-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
@media (min-width: 1024px) {
    .slider-image {
        width: 125px;
        height: 125px;
    }
}




