/* styles.css */
.slider-image {
    width: 125px;
    height: 125px;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .slider-image {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 768px) {
    .slider-image {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 480px) {
    .slider-image {
        width: 110px;
        height: 110px;
    }
}
