@import "./colores.css";


.container_information--contactform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact-container {
  display: flex;
  max-width: 970px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  position: relative; 
  z-index: 10;
}


.product_information {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.container_close--circule {
  display: flex;
  flex-direction: row-reverse;
}
.close {
  font-size: 2rem;
  color: var(--Black);
  margin-right: 2rem;
  margin-top: 2rem;
}
.message-box {
  
  max-width: 40%;
  padding: 20px;
  border-radius: 10px;
   margin-bottom: 2rem;
}
.message-box .highlight {
  font-family: var(--montserrat-font-family);
  font-weight: bold;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(
          -90deg,
          var(--Black),
          var(--LogoBackground)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 2rem;
}
.title_contact--form{
  font-family: var(--font-makina);
  font-size: 2rem;
}
.text_contact--form {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 400;
  font-family: var(--montserrat-font-family);
}
.message-box p {
  font-family: var(--montserrat-font-family);
  color: #333;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding: 20px;
  background-color: var(--SombraAzulVerdoso);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input_selection {
  column-gap: 1rem;
  background-color: var(--White);
}

.contact-form input,
.contact-form textarea,
.input_selection {
  font-family: var(--montserrat-font-family);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-form button {
  padding: 10px;
  font-family: var(--montserrat-font-family);
  color: var(--White);
  background-color: var(--LogoBackground);
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  width: 180px;
  height: 40px;
  align-self: center;
}

.contact-form button:hover {
  background-color: var(--LogoBackground);
}

/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/

@media screen and  (max-width: 767.98px) { 

  .product_information {
   grid-template-columns: repeat(1, 1fr);
  }

    
}
