@import "./colores.css";

.container_cookiespolicy {
  position: fixed;
  top: -10;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--White);
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  max-height: 500px;
  overflow-y: scroll;
}
.cookies_policy--content {
  text-align: justify;
  margin: 2rem;
}
