@import "./colores.css";
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gris-sombra);
  color: var(--White);
  padding: 15px;
  text-align: center;
  z-index: 1000;
}
.cookies_information {
  font-family: var(--montserrat-font-family);
  font-weight: 400;
}
.container_cookies--setting {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* .cookie-banner button {
    background-color:var(--LogoBackground);
    color: var(--White);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  } */
.aceptcookies {
  background-color: var(--LogoBackground);
  color: var(--White);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  gap: 2rem;
  border-radius: 5px;
  font-family: var(--montserrat-font-family);
}
.rejectcookies {
  background-color: var(--Yelow);
  color: var(--White);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  gap: 2rem;
  margin-left: 2rem;
  border-radius: 5px;
  font-family: var(--montserrat-font-family);
}

.aceptcookies:hover {
  background-color: var(--LogoBackground);
}

.rejectcookies:hover {
  background-color: var(--Yelow);
}

.container_cookiespolicy {
  position: fixed;
  top: -10;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--White);
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  max-height: 550px;
  overflow-y: scroll;
}
.cookies_setting--content {
  text-align: justify;
  margin: 2rem;
  padding: 10px;
}
.title_cookies--setting {
  font-family: var(--font-makina);
  font-size: 2rem;
  text-align: center;
}
.sitting_content,
.setting_content--span {
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.setting_content--span {
  font-weight: 600;
}
.setting_cookies {
  background-color: var(--gris-background);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--montserrat-font-family);
}
.container_form--cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.cookies_description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  column-gap: 2rem;
  margin-bottom: 1rem;
}
.cookie_information,
.label_text {
  font-family: var(--montserrat-font-family);
  font-weight: 400;
  font-size: 1.2rem;
}
.container_btn--setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.btn_submit--cookies {
  border: 2px solid var(--LogoBackground);
  width: 10rem;
  height: 2.5rem;
  border-radius: 20px;
}
.btn_cookies--setting.acept:hover {
  background-color: var(--SombraAzulVerdoso);
  cursor: pointer;
}
.container_btn--submit {
  margin-bottom: 4rem;
}
