@import "./colores.css";

.container_content--ecosystem{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_ecosystem--general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 1300px;
  margin-left: 70px;
  margin-right: 70px;
}

.title--ecosystem{
  margin-bottom: 16px;
}

.container--text{
  display: flex;
  align-items: center;
  
}

.container_text--end {
  text-align: justify;
  line-height: 1.5;
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  
}

/*Cards container about ecosystem*/

.container_ecosystem--information {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container_banner--title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: var(--SombraAzulVerdoso);
}

.container_interbanner--title{
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.demobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background: var(--Black);
  color:var(--White);
  border-color: transparent;
  align-self: center;
  font-family: var(--montserrat-font-family);
  font-style: medium;
  font-size: 15px;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: pulse 2s infinite;
  text-decoration: none;
}

@keyframes pulse {
  0% {
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
  }
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgb(0, 0, 0, 0)
  }
  100% {
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 0)
  }
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


 /*Pantallas grandes (desktops de menos de 1200px)*/

 @media screen and (max-width: 1199.98px) {  }



 /*Pantallas medianas (tablets de menos de 992px) */
 
 @media screen and  (max-width: 991.98px) {  }
 
 
 
 /*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
 
 @media screen and  (max-width: 767.98px) { 
  .container--text{
    margin-left: 45px;
  margin-right: 45px;
  }
 
  .title--ecosystem{
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
    text-align: center;
  }
  
  .container_ecosystem--information{
    flex-direction: column;
  }
  
  .ecosystem_information{
    display: flex;
    justify-content: center;
  }
  .container_ecosystem--general {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container_interbanner--title{
    margin-left: 45px;
    margin-right: 45px;
  }
     
  }
 
 
 
 /*Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
 
 @media screen and (max-width: 575.98px) {  }