@import "./colores.css";

.container_content--ecosystem{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_ecosystem--general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 70px;
  margin-right: 70px;
  max-width: 1300px;
}

.title--ecosystem{
  margin-bottom: 16px;
}

.container--text{
  display: flex;
  align-items: center;
  /* width: 600px; */
}

.container_text--end {
  text-align: justify;
  line-height: 1.5;
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  
}

/*Cards container about ecosystem*/

.container_ecosystem--information {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container_banner--title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: var(--BlancoVerdoso);
}

.container_interbanner--title{
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.demobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 180px;
  height: 40px;
  background: var(--Black);
  color:var(--White);
  border-color: transparent;
  align-self: center;
  font-family: var(--montserrat-font-family);
  font-style: medium;
  font-size: 15px;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: pulse 2s infinite;
  text-decoration: none;
}

@keyframes pulse {
  0% {
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
  }
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgb(0, 0, 0, 0)
  }
  100% {
      transform: scale(.99);
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 0)
  }
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
