@import "./colores.css";

.aboutus--headerCEO{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--SombraAzulVerdoso);
  }
  
  
  
  
  .img--aboutceo{
    width: 500px;
    height: 500px;
    clip-path: inset(5% 20% 15% 10% round 5% 20% 0 10%);

  }
  
  
  .text--aboutceo{
    width: 100%;
    margin: 0 70px 0 70px;
    max-width: 500px;
  }