@import "./colores.css";

.container_demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container_demo--product {
  margin-left: 1rem;
  margin-right: 1rem;
}
.maternapp_image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .container_demo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container_demo--product {
    margin-left: 5rem;
  }
  .maternapp_image {
    border-radius: 10px;
    width: 50%;
    height: 20%;
  }
}

.title_demo,
.demotitle {
  font-family: var(--font-makina);
}
.demo_information {
  font-family: var(--montserrat-font-family);
  text-align: justify;
}
.container_close--icon {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
}
.modal_close {
  font-size: 1.5rem;
  color: var(--White);
}
.modal_close:hover {
  cursor: pointer;
}
.container_maternapp--image {
  margin-top: 3rem;
  border-radius: 10px;
}
.container_image--product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container_input {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.container_content {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--LogoBackground);
  height:auto;
  width: auto;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .container_input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.formulario_demo {
  display: flex;
  flex-direction: column;
}
.container_content--tittle {
  text-align: center;
}
.container_input--label {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.input_demo,
.input_textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 2px;
  background-color: var(--BlancoVerdoso);
}
.input_textarea {
  margin-top: 4px;
}
.container_btn--requestdemo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.btn_send--demo {
  border: none;
  background-color: var(--Black);
  padding: 10px;
  border-radius: 5px;
  width: 10rem;
  font-family: var(--montserrat-font-family);
  color: var(--White);
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn_send--demo:hover {
  background-color: var(--BlancoVerdoso);
  cursor: pointer;
  color: var(--Black);
  transform: scale(1.1);
}
.container_recapchart{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}