@import "./colores.css";


.container_projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.content_option {
  max-width: 1300px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}




.container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}


.title_content {
  font-family: var(--font-makina);
  color: var(--LogoBackground);
  font-weight: bolder;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.description_content {
  margin-top: 20px;
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  text-align: justify;
}



.container_content--projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.video_content {
  width: auto;
  height: 95%;
  object-fit: contain;
  pointer-events: none;

  border: 8px solid rgb(49, 49, 49); 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container_img_content {
  width: 400px;
  height: auto;
}

.img_content {
  width: 100%;
  max-height: 400px;
  border-radius: 20px;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}





















.container_buttom_option {
  display: flex;
  flex-direction: row;
  margin: 40px 70px 20px 70px;
  
}




.buttom_option {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: none;
  background: rgb(228, 226, 226);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.buttom_option::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s ease-out;
}

.buttom_option:focus::after,
.buttom_option:active::after {
  transform: translate(-50%, -50%) scale(1);
}

.buttom_option:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-15px);
}

.img_buttom {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}



@keyframes slideHorizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.img_content {
  animation: slideHorizontal 5s ease-in-out infinite;
}



 /*Pantallas grandes (desktops de menos de 1200px)*/

 @media screen and (max-width: 1199.98px) {  }



 /*Pantallas medianas (tablets de menos de 992px) */
 
 @media screen and  (max-width: 991.98px) {  }
 
 
 
 /*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
 
 @media screen and  (max-width: 767.98px) { 
 

    .content_option{
      flex-direction: column;
    }

    .container_text{
      margin-left: 70px;
      margin-right: 70px;
    }
 
    .container_content--projects {
      width: 400px;
    }

    .container_img_content {
      width: 300px;
    }
     
    .buttom_option{
      width: 10px;
      height: 40px;
    }
  }
 
 
 
 /*Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
 
 @media screen and (max-width: 575.98px) {  }