@import './colores.css';


.Container_our--services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Black);
}

.container_service--text{
    
    max-width: 1300px;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.wrapper--cardslider{
    max-width: 1400px;
    max-height: fit-content;
    margin: 70px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.container--cardslider {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card--cardslider {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}



.card--cardslider > .my_paragraph--white {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 400px;
    padding: 20px;
    width: 600px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.my_paragraph--white h4 {
    text-transform: uppercase;
    font-family: var(--font-makina);
    font-weight: bolder;
}


input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .my_paragraph--white {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card--cardslider[for="c1"] {
    background-image: url('../imgs/services/humanservice.webp');
}
.card--cardslider[for="c2"] {
    background-image: url('../imgs/services/itservice.webp');
}
.card--cardslider[for="c3"] {
    background-image: url('../imgs/services/cibersecurityservice.webp');
}
.card--cardslider[for="c4"] {
    background-image: url('../imgs/services/financialservice.webp');
}

.card--cardslider[for="c5"] {
    background-image: url('../imgs/services/customerservice.webp');
}


.view_more--services{
  display: flex;
  position: absolute;
  right: 20px;
}

@keyframes pulsegreen {
  0% {
      transform:  scale(.98);
      box-shadow: 0 0 0 0 rgba(88, 179, 157, 0.5)
  }
  70% {
      transform:  scale(.99);
      box-shadow: 0 0 0 5px rgba(88, 179, 157, 0.3)
  }
  100% {
      transform:  scale(.98);
      box-shadow: 0 0 0 0 rgba(88, 179, 157, 0.5)
  }
}


/*section technology partner------------------------------------------------------------------------------------------------------------*/ 

.container-text--allservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 70px 0 70px;
  }
  
  
  .initial_paragraph-services{
    font-family: var(--montserrat-font-family);
    font-size: 1.2rem;
    text-align: justify;
    max-width: 1300px;
  }
  
  .container-cards-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    overflow: hidden;
    margin: 0px 70px 0 70px;
  }
  
  
  /* CardGrid.css */
  .card-grid-allservices {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Distribuye las cards en 3 columnas */
    
  }
  
  .card-allservices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 434px;
    height: 100px;
    color: var(--Black);
    border-radius: 8px;
  }
  

  .card-title-services {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: bold;
  }
  
