@import "./colores.css";

.services{

  width: 100%;
  display: flex;
  justify-content: center;
}

.background-services{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  align-content: center;
  background-image: url("../imgs/Technology_Artificial_Intelligence.png");
  background-repeat: round;
  margin-top: 5rem;




}

.solutions-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-sombra);
  width: 90%;
  height: 85%;
  border-radius: 8px;
}




/* Estilos generales de la sección */

  
  /* Título principal */
  .solutions-title {
    font-family: var(--font-makina);
    color: var(--LogoBackground);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .solutions-title--span{
    color: var(--White);
  }
  
  /* Descripción debajo del título */
  .solutions-description {
    font-family: var(--montserrat-font-family);
    font-size: larger;
    color: var(--White);
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Estilos para el contenedor de las tarjetas */
  .solutions-grid {
    display: grid;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  @media(min-width: 768px) {
    .solutions-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(min-width: 1024px) {
    .solutions-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Estilos para cada tarjeta de solución */
  .solution-item {
   
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .solution-item:hover {
    transform: translateY(-10px);
  }
  
  .title-items-services{
    font-family: var(--montserrat-font-family);
    margin-bottom: 10px;
    font-size: 24px;
    background:-webkit-linear-gradient(180deg,var(--White),var(--LogoBackground));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  .solution-item p {
    color: var(--gris_parrafo);
    line-height: 1.6;
    font-size: 16px;
  }

  .flipcards{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }


  .flipcards-services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .flidcards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

@media (min-width:1024px) {
  .flipcards-services{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .flidcards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

}


  .list-services{
    margin: 10px;
    color: var(--White);
    font-family: var(--montserrat-font-family);
  }



