:root {
  --Black: #000000;
  --White: #ffffff;
  --BlancoVerdoso: #edf7f5;
  --LogoBackgound: #52b39d;
  --SombraAzulVerdoso:rgba(82, 179, 157, 0.5);
  --GrisOscuro: #1d1d1b;
  --MoradoOscuro: #461d2d;
  --montserrat-font-family: "Montserrat", sans-serif;
  --font-makina: 'Kohne Makina', sans-serif;
                                                
}
