:root {
  --Black: #000000;
  --White: #ffffff;
  --gris_parrafo: #d1d1d1;
  --gris-background: #f5f5f5;
  --gris-message: #f1f1f1;
  --BlancoVerdoso: #edf7f5;
  --LogoBackground: #52b39d;
  --SombraAzulVerdoso:rgba(82, 179, 157, 0.4);
  --GrisOscuro: #1d1d1b;
  --gris: rgb(41, 40, 40);
  --MoradoOscuro: #461d2d;
  --montserrat-font-family: "Montserrat", sans-serif;
  --font-makina: 'Kohne Makina', sans-serif;
                                                
}
