@import "./colores.css";
.container_content--home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_home--general{
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--SombraAzulVerdoso); */
}
.tittle_home {
  text-align: center;
  font-family: var(--font-makina);
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.tittle_home--span {
  color: var(--LogoBackgound);
}
.container_home--information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
@media (min-width: 1024px) {
  .container_home--information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  .container_img {
    position: relative;
    display: inline-block;
  }
  .home_img {
    filter: opacity(70%);
    transition: transform 0.3s ease, z-index 0s ease;
  }
  .home_img:hover {
    filter: brightness(100%);
   
  }
}
.home_img {
  width: 260px;
}

.home_information {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.tittle_agenci {
  font-family: var(--font-makina);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.container_agenci--information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.agenci_text{
  text-align: justify;
  line-height: 1.5;
  font-family: var(--montserrat-font-family);
  font-size: 1.2rem;
  margin: 0;
}
.agenci_text--end{
 margin-bottom: 2rem;
 margin-left: 2rem;
 margin-right: 2rem;
}
