@import "./colores.css";
.flip-card-container {
  perspective: 1000px; /* Controla la profundidad del efecto 3D */
  width: 375px;
  height: 310px;
  border-radius: 20px;
  margin: 10px;
}

.flip-card-container-img {
  perspective: 1000px; /* Controla la profundidad del efecto 3D */
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(50%);
  border-radius: 20px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la cara trasera cuando no está visible */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--White);
  border-radius: 20px;
  
}




.flip-card-front {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 3px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  padding: 3px;
  /* background: linear-gradient(to right, var(--Black), var(--LogoBackgound)); */
  background-color: var(--gris);
  
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transform: rotateY(
    180deg
  ); /* Rota esta cara 180 grados para que esté del lado opuesto */
}
.flip_card--tittle{
  font-family: var(--montserrat-font-family);
  text-transform: uppercase;
  position: inherit;
  z-index: 2;
  text-align: center;
}
.flip_card--text {
  font-family: var(--montserrat-font-family);
  font-weight: 300;
  text-align: left ;
  text-align-last: left;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 3px;
  color: var(--Black);
}
